

.box {
  border: 5px solid; 
  margin: 10px;
  transition: border-color 0.3s ease;
  align-items: center; /*Horizontally center */
  text-align: center; 
 
}
.item-img{
  width:300px;
}

.main{
  display: flex;
  justify-content:center;
}

.win {
  border: 10px sold green;
  color:green;
}
.lose {
  border: 10px sold red;
  color:red;
}
.tie {
  border: 10px sold black;
  color:black;
}